Source: libboost
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: http://boost.org
Vcs-Git: git://github.com/boostorg/boost.git
Vcs-Browser: https://github.com/boostorg/boost

Package: libboost1.70-dev
Section: libdevel
Architecture: any
Depends: libboost1.70 (= ${binary:Version}), ${misc:Depends}
Description: Boost C++ Libraries development files
Conflicts:
  libboost-all-dev,
  libboost-atomic-dev,
  libboost-atomic1.58-dev,
  libboost-chrono-dev,
  libboost-chrono1.58-dev,
  libboost-context-dev,
  libboost-context1.58-dev,
  libboost-coroutine-dev,
  libboost-coroutine1.58-dev,
  libboost-date-time-dev,
  libboost-date-time1.58-dev,
  libboost-exception-dev,
  libboost-exception1.58-dev,
  libboost-filesystem-dev,
  libboost-filesystem1.58-dev,
  libboost-graph-dev,
  libboost-graph-parallel-dev,
  libboost-graph-parallel1.58-dev,
  libboost-graph1.58-dev,
  libboost-iostreams-dev,
  libboost-iostreams1.58-dev,
  libboost-locale-dev,
  libboost-locale1.58-dev,
  libboost-log-dev,
  libboost-log1.58-dev,
  libboost-math-dev,
  libboost-math1.58-dev,
  libboost-mpi-dev,
  libboost-mpi-python-dev,
  libboost-mpi-python1.58-dev,
  libboost-mpi1.58-dev,
  libboost-program-options-dev,
  libboost-program-options1.58-dev,
  libboost-python-dev,
  libboost-python1.58-dev,
  libboost-random-dev,
  libboost-random1.58-dev,
  libboost-regex-dev,
  libboost-regex1.58-dev,
  libboost-serialization-dev,
  libboost-serialization1.58-dev,
  libboost-signals-dev,
  libboost-signals1.58-dev,
  libboost-system-dev,
  libboost-system1.58-dev,
  libboost-test-dev,
  libboost-test1.58-dev,
  libboost-thread-dev,
  libboost-thread1.58-dev,
  libboost-timer-dev,
  libboost-timer1.58-dev,
  libboost-tools-dev,
  libboost-wave-dev,
  libboost-wave1.58-dev,
  libboost1.58-all-dev,
  libboost1.58-dev,
  libboost1.58-tools-dev
Replaces:
  libboost-all-dev,
  libboost-atomic-dev,
  libboost-atomic1.58-dev,
  libboost-chrono-dev,
  libboost-chrono1.58-dev,
  libboost-context-dev,
  libboost-context1.58-dev,
  libboost-coroutine-dev,
  libboost-coroutine1.58-dev,
  libboost-date-time-dev,
  libboost-date-time1.58-dev,
  libboost-exception-dev,
  libboost-exception1.58-dev,
  libboost-filesystem-dev,
  libboost-filesystem1.58-dev,
  libboost-graph-dev,
  libboost-graph-parallel-dev,
  libboost-graph-parallel1.58-dev,
  libboost-graph1.58-dev,
  libboost-iostreams-dev,
  libboost-iostreams1.58-dev,
  libboost-locale-dev,
  libboost-locale1.58-dev,
  libboost-log-dev,
  libboost-log1.58-dev,
  libboost-math-dev,
  libboost-math1.58-dev,
  libboost-program-options-dev,
  libboost-program-options1.58-dev,
  libboost-python-dev,
  libboost-python1.58-dev,
  libboost-random-dev,
  libboost-random1.58-dev,
  libboost-regex-dev,
  libboost-regex1.58-dev,
  libboost-serialization-dev,
  libboost-serialization1.58-dev,
  libboost-signals-dev,
  libboost-signals1.58-dev,
  libboost-system-dev,
  libboost-system1.58-dev,
  libboost-test-dev,
  libboost-test1.58-dev,
  libboost-thread-dev,
  libboost-thread1.58-dev,
  libboost-timer-dev,
  libboost-timer1.58-dev,
  libboost-tools-dev,
  libboost-wave-dev,
  libboost-wave1.58-dev,
  libboost1.58-all-dev,
  libboost1.58-dev,
  libboost1.58-tools-dev

Package: libboost1.70
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Boost C++ Libraries
Conflicts:
  libboost-geometry-utils-perl,
  libboost-atomic1.58.0,
  libboost-chrono1.58.0,
  libboost-context1.58.0,
  libboost-coroutine1.58.0,
  libboost-date-time1.58.0,
  libboost-filesystem1.58.0,
  libboost-graph-parallel1.58.0,
  libboost-graph1.58.0,
  libboost-iostreams1.58.0,
  libboost-locale1.58.0,
  libboost-log1.58.0,
  libboost-math1.58.0,
  libboost-mpi-python1.58.0,
  libboost-mpi1.58.0,
  libboost-program-options1.58.0,
  libboost-python1.58.0,
  libboost-random1.58.0,
  libboost-regex1.58.0,
  libboost-serialization1.58.0,
  libboost-signals1.58.0,
  libboost-system1.58.0,
  libboost-test1.58.0,
  libboost-thread1.58.0,
  libboost-timer1.58.0,
  libboost-wave1.58.0
Replaces:
  libboost-geometry-utils-perl,
  libboost-atomic1.58.0,
  libboost-chrono1.58.0,
  libboost-context1.58.0,
  libboost-coroutine1.58.0,
  libboost-date-time1.58.0,
  libboost-filesystem1.58.0,
  libboost-graph-parallel1.58.0,
  libboost-graph1.58.0,
  libboost-iostreams1.58.0,
  libboost-locale1.58.0,
  libboost-log1.58.0,
  libboost-math1.58.0,
  libboost-program-options1.58.0,
  libboost-python1.58.0,
  libboost-random1.58.0,
  libboost-regex1.58.0,
  libboost-serialization1.58.0,
  libboost-signals1.58.0,
  libboost-system1.58.0,
  libboost-test1.58.0,
  libboost-thread1.58.0,
  libboost-timer1.58.0,
  libboost-wave1.58.0
